<%- include('../partials/header') %>

<h1>Edit <%= name %></h1>

<form action="/tacos/<%= id %>?_method=PUT" method="POST">
    <label>Taco Name</label>
    <input type="text" name="tacoName"><br>
        <br>
    <label>Taco Protein</label>
    <input type="text" name="tacoProtein"><br>
        <br>
    <label>Taco Garnish</label>
    <input type="text" name="tacoGarnish"><br>
        <br>
    <input type="submit" value="Update Taco">
</form>

<%- include('../partials/footer') %>