<%- include('../partials/header') %>

<h2>Your choices:</h2>

        <a href='../tacos'><img src="https://i.imgur.com/E3RqKSg.png" alt="tacos"></a>
        <br>
        <hr>
        <br>
        <a href='../piroshkis'><img src="https://i.imgur.com/0h87anI.png" alt="piroshkis"> </a>


<%- include('../partials/footer') %>