<%- include('../partials/header') %>


    <h2>Your choices:</h2>

        <a href='../tacos'><button>Tacos</button></a>
        <br>
        <hr>
        <br>
        <a href='../piroshkis'><button>Piroshkis</button></a>


<%- include('../partials/footer') %>